MAKEMIT-ACCENT = #FFE100
MAKEMIT-BACKGROUND = #FFFFFF
MAKEMIT-PRIMARY = #000000
MAKEMIT-SECONDARY = #666666

MAKE-HEADER-FONT = "Montserrat", sans-serif
MAKE-BODY-FONT = "Lato", "Helvetica", sans-serif

GRAY = #728088
YELLOW = #ffca43
TEXT = #242323
LIGHTYELLOW = #fbe191
MIDYELLOW = #ecc65b