@import 'constants'
@import 'mixins'
@import 'base'

/*logo slide*/

#home-slide
  .bcg 
    background-color: GRAY

    #tools 
      width: 100%
      overflow: hidden
      position: absolute
      margin-top: -13%
      min-width: 700px
    
    .hsContainer
      width:100%

      .hsContent
        min-height:100vh
        padding-bottom:50px
        padding-top: 45vh
        text-align: center

        h1 
          text-transform: uppercase
          color: #fff
          letter-spacing: 8px
          font-size: 5em
          line-height: .6em
          font-family: MAKE-HEADER-FONT

        #title-accent
          color: YELLOW

        i
          font-size: 1.1em

        h2
          color: #fff
          font-size: 1.6em
          letter-spacing: 2px
          margin-bottom: 20px
          font-weight: 700
          font-family: MAKE-HEADER-FONT

        a:hover
          color: YELLOW

        h4, a
          font-size: 1.3em
          color: #fff
          font-weight: 400
          font-family: MAKE-HEADER-FONT

      @media only screen and (max-height:667px)
        .hsContent
          padding-top: 32vh

    .ui.stackable.grid
      margin-top: 10px

    .ui.segment
      background: none

    h3 
      margin: 0 auto

    #register
       font-family: MAKE-HEADER-FONT
       background: none
       margin-left: auto
       margin-right: auto
       font-size:.9em
       font-weight:700
       width: 20vw
       min-width: 300px
       border: 3px solid #fff
       text-transform: uppercase
       color: #fff
       letter-spacing: 2px

    #register:hover
      transition: all 600ms ease
      color: YELLOW

    #mailsignup
       background: none
       margin-left: auto
       margin-right: auto
       width: 35vw
       min-width: 350px
       border: 3px solid #fff
       text-transform: uppercase


      .title
        color: #fff
        letter-spacing: 2px

        h3 
          font-size: 1.1em

      .title:hover
        transition: all 600ms ease
        color: YELLOW

    .ui.error.field 
      box-shadow: none
    
    .ui.red.message
      background: none
      box-shadow: none
      margin: 0
      padding-top: 0
      color: YELLOW
      letter-spacing: 0
      text-transform: none

      ul
        list-style-type: none
        padding-left: 0

    button
      color: #fff
      background-color: YELLOW
      text-transform: uppercase;
      letter-spacing: 2px

      h3 
        font-size: 1em

    .content
      border-top: 3px solid #fff

      .ui.segment 
        box-shadow: none

      form 
        padding: 5px
        padding-top: 0

      p 
        text-transform: none;
        font-size: 1em
        color: #fff
        text-align: center
        font-family: MAKE-BODY-FONT
        font-weight: 500
        letter-spacing: 0

      .ui.field:focus
        box-shadow: 5px 0 0 0 YELLOW inset

      .ui.field
        color: TEXT

    button:hover
      background-color: #fff
      color: GRAY
      transition: all 600ms ease

  #down-arrow
    position:absolute
    display:inline-block
    bottom:10px
    right:50%
    left:49%
    i
      color: #fff
    
  #down-arrow a:hover
    text-decoration:none

  #down-arrow:hover
    i
      color: YELLOW
      transition: all 600ms ease

  @media only screen and (max-height:480px)
    .bcg #tools
      margin-top: -25%


  @media only screen and (max-width:480px)

    .bcg
    
      .hsContainer
        min-height:100vh

        .hsContent
        
          #down-arrow
            position:relative
            display:block
            margin-left:50%
            margin-right:50%

          h1 
            font-size: 4em
            font-family: MAKE-HEADER-FONT
    
/*overview slide*/

#about-slide

  .bcg 
    background:none
    background-color: #FFFFFF
    background-size: auto auto
    opacity: .95
    text-align: center

    .hsContainer
      min-height:100vh

      .hsContent
        top: 0
        margin-top: 0

      table
        margin:auto

      .yellow
        background-color: YELLOW
        min-height: 55vh
        color: #fff
        padding-top: 15vh

        .logo
          padding-bottom: 2vh
          img
            width: 180px

        h1
          margin: 0
          text-transform: uppercase
          font-size: 3em
          letter-spacing: 5px

      .white
        color: TEXT

        .content
          width: 50vw
          min-width: 350px
          padding-bottom: 50px
          margin-left: auto
          margin-right: auto
          padding-top: 5vh

          p
            font-size: 1.3em
            line-height: 1.8em
            font-weight: 400

/*stats slide*/

#stats-slide
  height:auto

  .bcg 
    background-image:url("http://i.imgur.com/RF7MPum.jpg")
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    min-height: 100%
    opacity: .95

    text-align: center

    .hsContainer
      //padding: 100px 0px
      min-height: 100vh

      .hsContent
        min-height:100vh

      #stats
        position: relative
        top: 50vh
        transform: translateY(-50%)

        .column
          text-align: center
          margin: 0 10px


          h1  
            color: #fff
            font-size: 4.5em
            font-weight: 400
            margin-bottom: 0
            margin-top: 0


          p
            color: LIGHTYELLOW
            font-size: 1.7em
            font-family: MAKE-HEADER-FONT
            text-transform: uppercase
            letter-spacing: 3px
            font-weight: 400

        #plus
          width: 10px
          margin: 0
          margin-top: 50px
          p
            color: #fff

    @media only screen and (max-width: 667px)

      .two
        min-width: 400px

      #plus
        display: none!important




/*faq slide*/

#faq-slide
  height: auto
  a
    color: LIGHTYELLOW

  a:hover 
    color: YELLOW
    transition: all 600ms ease

  .bcg
    background-color: GRAY
    min-height: 100%
    text-align: center

    .hsContainer
      padding-top:100px
      padding-bottom: 100px
      
      .ui.three.column.stackable.page.grid
        margin:30px auto

        .row
          margin: auto
          padding: 10px

        .column
          padding-top:10px

      h1
        color: #fff
        text-transform:uppercase
        font-weight:700
        font-size:2.5em
        letter-spacing:5px

      h2
        color: MAKEMIT-BACKGROUND
        text-align:left
        font-size:1.4em
        margin:auto
        line-height:1.5em
      p
        width:auto
        margin:auto
        text-align:left
        color: MAKEMIT-BACKGROUND
        font-size:1.2em
        line-height:1.4em

      b
        font-weight:900

/*schedule slide*/

#schedule-slide
  min-height:40vh
  color: #fff

  .bcg 
    background: GRAY
    text-align: center

    .hsContainer
      min-height: 41vh
      padding-top:100px
      padding-bottom: 100px

      .hsContent

        #schedule-container
          padding-left: 10vw
          padding-right:10vw

        h1 
          font-size: 3em
          text-transform: uppercase
          letter-spacing: 5px

        h2
          margin:auto

        h3
          margin: 0px

        p 
          font-size: 1.4em
          width:400px
          margin:auto

        #schedule
          width:370px
          margin:auto

          .item
            font-size: 1.4em

            .header, .description
              display:inline-block

        

    @media only screen and (max-height: 480px)
      .hsContainer
        min-height:60vh

    @media only screen and (max-width: 480px)
      .hsContainer

        .hsContent
          padding:0px

          p
            width: auto

          #schedule
            width: auto 


/*sponsors slide*/

#sponsors-slide
  min-height:40vh

  .bcg 
    background: MIDYELLOW
    text-align: center

    .hsContainer
      min-height: 41vh
      padding-top:100px
      padding-bottom: 100px
      color: #fff

      .hsContent

        h1 
          font-size: 3em
          text-transform: uppercase
          letter-spacing: 5px

        p 
          font-size: 1.5em
          padding: 0 20px

        #sponsors-grid
          max-width:70vw
          margin:auto

          img
            display: inline-block
            vertical-align: middle
            margin:16px

        #gold img
          width:40%

        #silver img
          width: 28%

        #bronze img
          width:20%

        #custom img
          width:14%
      
      table
        width:850px
        margin:auto
      

    @media only screen and (max-height: 480px)
      .hsContainer
        min-height:60vh

/*contact slide*/

#contact-slide

  .bcg 
    background-image:url("http://i.imgur.com/vjyOiCR.png")
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    min-height: 100%
    text-align: center
    height:100%

    .hsContainer
      padding: 100px 0px 10px 0px
      height:auto
      
      table
        min-height:100vh
        margin:auto

      i.icon
        font-size:1.3em

      .logo 
        margin-right: 30px

      h1 
        color: #fff
        text-transform: uppercase
        letter-spacing: 5px
        font-size: 1.6em
        margin-top: 0

      #accent
        color: GRAY

      .contact 
        margin-top: 100px
        bottom: 70px

        p 
          color: #fff
          font-size: 1.3em
          line-height: 1.8em
          font-family: MAKE-HEADER-FONT

        i
          color: GRAY

        i:hover
          opacity: .7
          transition: all 300ms ease