box-sizing()
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

no-border()
  border: 0

no-gradient()
  background-image: none
  background-image: none

shadow(right, bottom, size, spread, opacity)
  -moz-box-shadow: right bottom size spread rgba(0,0,0,opacity)
  -webkit-box-shadow: right bottom size spread rgba(0,0,0,opacity)
  box-shadow: right bottom size spread rgba(0,0,0,opacity)

no-select()
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

no-shadow()
  -moz-box-shadow: none
  -webkit-box-shadow: none
  box-shadow: none

no-text-shadow()
  text-shadow: none

no-transition(property)
  transition: property 0s
  -moz-transition: property 0s
  -webkit-transition: property 0s

rounded(r)
  -moz-border-radius: r
  -webkit-border-radius: r
  border-radius: r
